body {
    background-color: #FAEBD7;
}

/*header block*/
.headerbox{
    width: 100%;
    height: 10%;
    background-color: antiquewhite;
    position: relative;
    margin: auto;
}

.imgframe{
    border: 2px solid olive;
    border-radius: 20%;
    position: absolute;
    width: 20%;
    height: 20%;
    top: 0;
    animation-name: movelogo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.imgframe > img{
    width: 100px;
    height: 100px;
}

.bigflyingtext{
    color: #C4A484;
    position: absolute;
    top: 0;
    animation: movebigtext 5s infinite;
}

@keyframes movebigtext{
    0% {left: 10%; top: 0%;}
}

@keyframes movelogo{
    0% {width: 10%; height: 10%; }
}

.headertextbox{
    padding-left: 15%;
}

/*slide show block*/
.Promo{
    width: 90%;
    height: 50px;
    background-color: antiquewhite;
    overflow: hidden;
    margin: auto;
    text-align: center;
}

.sliding-text{
   width:200%;
   height: 100%;
   animation: slideshow 10s infinite;
}

.slide{
    width: 50%;
    height: 100%;
    float: left;
    background-color: coral;
    padding-top: 1px;
    font-size: 15px;
}

.s1{ background-color:lightgreen;}
.s2{ background-color: olive;}

@keyframes slideshow{
    0% {margin-left: 0%}
    50% {margin-left: -100%}
}
/*hero block*/
.heroblock{
    height: 72%;
    width: 90%;
    background-repeat: no-repeat;
    padding-top: 30px;
    position: relative;
    margin: auto;
}

.herotextblock{
    width: 40%;
    height: 40%;
    background-color: lightgray;
    position: absolute;
    top: 28%;
    left: 6%;
    border: 10px solid white;
    border-radius: 10px;
}

.herotextblock > p{
    text-align: center;
    padding: 6px;
}

/*product row block*/
.productbox{
    height: 72%;
    width: 90%;
    padding-top: 1;
    background-color: antiquewhite;
    margin: auto;
}

.row{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.product{
    flex: auto;
    width: 33.3333%;
    text-align: center;
    font-size: 15;
    padding-bottom: 20px;
}

.product > img{
    width: 50%;
    height: 45%;
}

.btn{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
    border: 2px solid grey;
    font-size: 10;
}

.mymodalwindow{
    background-color: rgba(81, 102, 86, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
}

.messagebox{
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 30%;
    height: 330px;
    text-align: center;
    font-size: 12px;
    position: relative;
}

#exit{
    position: absolute;
    right: 2%;
    top: 0;
    text-decoration: none;
}

#exit:hover{
    background-color: black;
    color: white;
    width: 5%;
}

.mymodalwindow:target{
    opacity: 1;
    pointer-events: all;
}

.productrow{
    height: 55%;
    /*border: 1px solid red;*/
    /*background-color: aquamarine;*/
}

.product-2by1{
    width: 48%;
    height: 80%;
    float: left;
}

.product-2by1 > img{
    width: 70%;
    height: 90%;
    padding: 10%;
}

.greybox{
    background-color: darkgrey;
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.greybox > p{
    text-align:left;
}

.greybox > a{
    text-decoration: none;
    background-color: white;
    font-size: 12px;
    padding: 1%;
}

.greybox > a:hover{
    background-color: black;
    color: white;
}

/*footer block*/

.footerstage{
    background-color: black;
    width: 100%;
    margin: auto;
    color: white;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}

.footer {
    text-align: center;
    height: 20%;
    width: 25%;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    float: right;
}

.social-header {
    text-align: right;
    margin: 10%;
}

.social {
    margin-top: -5%;
    margin-left: 20%;
    height: 30%;
    width: 40%;
    float: right;
}

.logo {
    height: 30%;
    width: 10%;
    margin-right: 5%;
    position: relative;
}

.bottomText{
    padding-top: 100px;
    text-align: center;
}
